.skill-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: black;

  
  .row{
    margin-top: calc(20px + 8vw);
  }

    .text-zone{
        word-wrap: normal;
        flex: 50%;
        display: block;
        overflow: hidden;
        color: white;
        line-height: calc(20px + 3vw);
        height: auto;
        margin: 0;
        margin-left: 1px;
        font-family: "SquareGrotesk-MediumItalic";
        font-style: italic;
        font-weight: 400;
        animation: fadeIn 1s 1s backwards;



        p{
            margin-left: 30px;
            line-height: 40px; 
            font-weight: 300;
            font-size: calc(16px + .2vw);
          }
        .highLight{
            color: #FF9900;
        }

        
    }
    .glitch {
        display: flex;
        color: #FF9900;
        position: relative;
        font-size: calc(20px + 3vw);;
        overflow: hidden;
        
        // min-width: 7vw;
        // margin: 70px 200px;
        animation: glitch 5s 5s infinite;
      }
      
      .glitch::before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: -5px 0 magenta;
        background: black;
        overflow: hidden;
        top: 0;
        animation: noise-1 3s linear infinite alternate-reverse, glitch 5s 5.05s infinite;
      }
      
      .glitch::after {
        content: attr(data-text);
        position: absolute;
        left: 2px;
        text-shadow: -5px 0 lightgreen;
        background: black;
        overflow: hidden;
        top: 0;
        animation: noise-2 3s linear infinite alternate-reverse, glitch 5s 5s infinite;
      }
      
      @keyframes glitch {
        1%{
          transform: rotateX(10deg) skewX(90deg);
        }
        2%{
          transform: rotateX(0deg) skewX(0deg);
        }
      }
      
      @keyframes noise-1 {
        $steps: 30;
        @for $i from 1 through $steps {
          #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
          }
        }
      }
      
      @keyframes noise-2 {
        $steps: 30;
        @for $i from 0 through $steps {
          #{percentage($i*(1/$steps))} {
            $top: random(100);
            $bottom: random(101 - $top);
            clip-path: inset(#{$top}px 0 #{$bottom}px 0);
          }
        }
      }      


      .tagcloud-wrap {
        opacity: 0;
        overflow: hidden;
        display: block;
        height: 670px;
        margin: auto;
        float: right;
        margin-top: -2%;
        animation: fadeIn 1s 1s;
        animation-fill-mode:forwards ;
        
        
      
        .tagcloud {
          flex: 50%;
          
          color: #FF9900;
          font-family: 'Poppins', sans-serif;
          font-size: 20px;
          font-weight: 650;
          margin: auto;
        }
        .tagcloud--item:hover {
          color: #fff;
        }
      }
  
  }