.contact-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;


    .links{
        margin-top: -50px;
        ul{
            display: table;
            margin: 0 auto;
            list-style: none;
            padding: 0;
            overflow: hidden;
        }
        li{
            float: left;
        }
        
        li a{
            opacity: 0;
            font-size: 20px;
            color: #fff;
            padding: 20px;
            animation: fadeInUp 2s 2.5s forwards;

            &:hover{
                color: #FF9900;
            }
        

        }


    }





    .text-zone{
        flex: 50%;
        display: block;
        padding-top: 60px;
        color: #FF9900;
        margin: 0;
        font-family: "SquareGrotesk-MediumItalic";
        font-style: italic;
        font-weight: 400;
        margin-left: 10px;
        height: 600px;
        span{
            font-size: calc(30px + 3vw);;
        }
        
        .contact-form{
            margin-top: 20px;
        
            ul{
                padding: 0;
                margin: 0;
                


                li{
                    padding: 0;
                    margin: 0;
                    margin-bottom: 10px;
                    list-style: none;
                    overflow: hidden;
                    display: block;
                    position: relative;
                    opacity: 0;
                    animation: fadeInUp 2s 2s;
                    animation-fill-mode: forwards;
                    clear: both;
                }
                li.half{
                    width: 49%;
                    margin-left: 2%;
                    float: left;
                    clear: none;

                &:first-child{
                    margin-left: 0;
                }
            }
        }
        input[type='text'],
        input[type='email'] {
            width: 100%;
            border: 0;
            background: #2e2e2e;
            height: 6vh;
            font-size: 16px;
            color: #fff;
            padding: 0 20px;
            box-sizing: border-box;
            border-radius: 4px;
        }
        textarea{
            width: 100%;
            border: 0;
            background: #2e2e2e;
            height: 20vh;
            font-size: 16px;
            color: #fff;
            padding: 20px;
            min-height: 10vh;
            box-sizing: border-box;
            border-radius: 4px;

        }
        .flat-button {
            color: #FF9900;
            background: 0 0;
            font: 11px;
            letter-spacing: 3px;
            text-decoration: none;
            padding: 8px 10px;
            border: 1px solid #FF9900;
            float: right;
            border-radius: 4px;
            
            &:hover{
                color: #fff;
                background: #FF9900;
                cursor: pointer;
            }
        }
        
        }
    
    }
}
.map{
    flex: 50%;
    height: 100vh;
    overflow: hidden;
    
}
.leaflet-container{
    flex: 50%;
    display: block;
    width: 100%;
    height: 100%;
    
    opacity: 0;
    animation: fadeIn 1s 1.2s;
    animation-fill-mode: forwards;

}